<% provide(:title, @user.name) %>
<div class="row justify-content-md-center">
  <div class="col my-user-content">
    <p id="notice"><%= notice %></p>
      
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <br>
    <br>
    
    <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-outline-secondary", role: "button" %>
    <%= link_to 'Back', users_path, class: "btn btn-outline-secondary", role: "button" %>    
  </div>
</div>

